<div *ngIf="this.dataReady">
  <div class="col-md-12" style="text-align: center; padding: 20px">
    <h1>Report an Adverse Reaction</h1>
  </div>
  <form>
    <div class="form-row carm-section">
      <div class="form-group">
        <h4>Patient</h4>
      </div>
      <div class="form-group col-md-12">
        <div class="form-check form-check-inline">
          <label class="col-form-label">Gender:</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genderOptions" id="genderFemale" value="female"
                 [checked]="this.patient.gender === 'female'">
          <label class="form-check-label" for="genderFemale">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genderOptions" id="genderMale" value="male"
                 [checked]="this.patient.gender === 'male'">
          <label class="form-check-label" for="genderMale">Male</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="patient.name.given">First name</label>
        <input type="text" class="form-control" id="patient.name.given" name="patient.name.given"
               placeholder="Patient's first name"
               [(ngModel)]="this.patient.name[0].given[0]">
      </div>
      <div class="form-group col-md-6">
        <label for="patient.name.family">Surname</label>
        <input type="text" class="form-control" id="patient.name.family" name="patient.name.family"
               placeholder="Patient's surname"
               [(ngModel)]="this.patient.name[0].family">
      </div>
      <div class="form-group col-md-6">
        <label for="patientDoB">Date of birth</label>
        <input type="date" class="form-control" id="patientDoB" name="patientDoB" placeholder="Date of birth"
               [(ngModel)]="this.patient.birthDate">
      </div>
      <div class="form-group col-md-6">
        <label for="patientNHI">NHI</label>
        <input type="text" class="form-control" id="patientNHI" name="patientNHI" placeholder="NHI"
               [(ngModel)]="this.patient.identifier[0].value">
      </div>
      <div class="form-group col-md-6">
        <label for="patientEthnicity">Ethnicity</label>
        <input type="text" class="form-control" id="patientEthnicity" name="patientEthnicity" placeholder="Ethnicity" [(ngModel)]="this.patientExtension.ethnicity">
      </div>
      <div class="form-group col-md-6">
        <label for="patientWeight">Weight (kg)</label>
        <input type="text" class="form-control" id="patientWeight" name="patientWeight" placeholder="Weight" [(ngModel)]="this.patientExtension.weight">
      </div>
      <div class="form-group col-md-12">
        <label for="patientStreet">Street Address</label>
        <input type="text" class="form-control" id="patientStreet" name="patientStreet" placeholder="Address"
               [(ngModel)]="this.patient.address[0].line[0]">
      </div>
      <div class="form-group col-md-6">
        <label for="patientSuburb">Suburb</label>
        <input type="text" class="form-control" id="patientSuburb" name="patientSuburb" placeholder="Suburb"
               [(ngModel)]="this.patient.address[0].district">
      </div>
      <div class="form-group col-md-6">
        <label for="patientCity">Town/City</label>
        <input type="text" class="form-control" id="patientCity" name="patientCity" placeholder="City"
               [(ngModel)]="this.patient.address[0].city">
      </div>
    </div>

    <div class="form-row carm-section">
      <div class="form-group col-md-12">
        <div class="form-check form-check-inline">
          <label class="col-form-label">Is this an adverse event following immunisation:</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genderOptions" id="immunisationCauseFalseRadio"
                 value="true" [(ngModel)]="this.allergyIntoleranceExtension.isFollowingImmunisation">
          <label class="form-check-label" for="immunisationCauseFalseRadio">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genderOptions" id="immunisationCauseTrueRadio"
                 value="false" [(ngModel)]="this.allergyIntoleranceExtension.isFollowingImmunisation">
          <label class="form-check-label" for="immunisationCauseTrueRadio">No</label>
        </div>
      </div>
    </div>

    <div class="carm-section">
      <div class="form-group">
        <h4>Medications</h4>
      </div>
      <div *ngFor="let ms of this.medicationStatements">
        <div class="form-row">
          <div class="col-md-4">
            <label for="{{ms.id}}+'name'">Medication</label>
            <input type="text" class="form-control" id="{{ms.id}}+'name'" name="{{ms.id}}+'name'"
                   value="{{ms.medicationCodeableConcept.text}}">
          </div>
          <div class="col-md-8">
            <label for="{{ms.id}}+'text'">Dose, frequency, and route</label>
            <input type="text" class="form-control" id="{{ms.id}}+'text'" name="{{ms.id}}+'dose'"
                   [(ngModel)]="ms.dosage[0].text">
          </div>
        </div>
      </div>
    </div>

    <div class="form-row carm-section">
      <div class="form-group col-md-12">
        <h4>Other factors</h4>
      </div>
      <div class="form-group col-md-12">
        <p>Does this patient have: renal or hepatic impairement? Do they take over the counter medications? Do they have any known allergies?</p>
      </div>
      <textarea type="date" class="form-control" id="otherPatientFactors"
                name="otherPatientFactors"
                [(ngModel)]="this.otherPatientFactors"></textarea>
    </div>

    <div class="form-row carm-section">
      <div class="form-group col-md-12">
        <h4>Reaction</h4>
      </div>
      <div class="form-group col-12">
        <label for="reaction.onsetDate">Onset date</label>
      </div>
      <div class="form-group col-md-4">
        <input type="date" class="form-control" id="reaction.onsetDate" name="reaction.onsetDate"
               [(ngModel)]="this.allergyIntoleranceExtension.onset">
      </div>
      <div class="form-group col-md-12">
        <label for="reaction.manifestation">Details of the reaction</label>
        <textarea type="date" style="background: lightyellow" class="form-control" id="reaction.manifestation"
                  name="reaction.manifestation"
                  [(ngModel)]="this.allergyIntoleranceExtension.manifestation"></textarea>
        <!--<hr>-->
      </div>
      <div class="form-row col-12">
        <div class="form-check form-check-inline col-12">
          <label class="col-form-label">Outcome</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="recovery" id="recovered" value="Recovered" [(ngModel)]="this.allergyIntoleranceExtension.outcome">
          <label class="form-check-label" for="recovered">Recovered</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="recovery" id="notYetRecoveredButImproved"
                 value="Not yet recovered but improved" [(ngModel)]="this.allergyIntoleranceExtension.outcome">
          <label class="form-check-label" for="notYetRecovered">Not yet recovered but improved</label>
        </div>
        <div class="form-check form-check-inline col-12">
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="recovery" id="notYetRecovered"
                 value="Not yet recovered" [(ngModel)]="this.allergyIntoleranceExtension.outcome">
          <label class="form-check-label" for="notYetRecovered">Not yet recovered</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="recovery" id="unknown" value="Recovery unknown" [(ngModel)]="this.allergyIntoleranceExtension.outcome">
          <label class="form-check-label" for="unknown">Unknown</label>
        </div>
        <!--<hr>-->
      </div>
      <div class="form-row col-md-12">
        <div class="form-check form-check-inline col-12">
          <label class="col-form-label">Severity</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="severity" id="mild" value="Mild" [(ngModel)]="this.allergyIntoleranceExtension.severity">
          <label class="form-check-label" for="mild">Mild</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="severity" id="moderate" value="Moderate" [(ngModel)]="this.allergyIntoleranceExtension.severity">
          <label class="form-check-label" for="moderate">Moderate</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="severity" id="severe" value="Severe" [(ngModel)]="this.allergyIntoleranceExtension.severity">
          <label class="form-check-label" for="severe">Severe</label>
        </div>
        <!--<hr>-->
      </div>
      <div class="form-row col-md-12">
        <div class="form-check form-check-inline col-12">
          <label class="col-form-label">Rechallenged</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="rechallenging" id="rechallenged" value="true" [(ngModel)]="this.allergyIntoleranceExtension.rechallenged">
          <label class="form-check-label" for="rechallenged">Yes</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="rechallenging" id="notRechallenged"
                 value="false" [(ngModel)]="this.allergyIntoleranceExtension.rechallenged">
          <label class="form-check-label" for="notRechallenged">No</label>
        </div>
        <div class="form-group col-md-12">
          <input type="text" class="form-control" id="rechallengeResult" name="rechallengeResult"
                 placeholder="Result of rechallenging (if applicable)" [(ngModel)]="this.allergyIntoleranceExtension.rechallengeResult">
        </div>
        <hr>
      </div>
      <div class="form-row col-md-12">
        <div class="form-check form-check-inline col-3">
          <label class="col-form-label">Fatal</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="fatality" id="fatal" value="true" [(ngModel)]="this.allergyIntoleranceExtension.fatal">
          <label class="form-check-label" for="fatal">Yes</label>
        </div>
        <div class="form-check form-check-inline col-12">
          <input class="form-check-input" type="radio" name="fatality" value="false"
                 id="notFatal" [(ngModel)]="this.allergyIntoleranceExtension.fatal">
          <label class="form-check-label" for="notFatal">No</label>
        </div>
      </div>
      <div class="form-row col-md-12">
        <div class="form-group col-12">
          <label class="form-check-label" for="fatalityDate">Date of death (if applicable)</label>
        </div>
        <div class="form-group col-4">
          <input type="date" class="form-control" id="fatalityDate" name="fatalityDate"
                 placeholder="Date of death (if applicable)" [(ngModel)]="this.allergyIntoleranceExtension.fatalityDate">
        </div>
        <hr>
      </div>
    </div>

    <!--TODO: replace patient refs with practitioner AND test out -->
    <div class="form-row carm-section">
      <div class="form-group col-md-12">
        <h4>Reporter</h4>
      </div>
      <div class="form-group col-md-6">
        <label for="practitioner.name.given">First name</label>
        <input type="text" class="form-control" id="practitioner.name.given" name="practitioner.name.given" placeholder="First name"
               [(ngModel)]="this.practitioner.name[0].given[0]">
      </div>
      <div class="form-group col-md-6">
        <label for="practitioner.name.family">Surname</label>
        <input type="text" class="form-control" id="practitioner.name.family" name="practitioner.name.family"
               placeholder="Surname"
               [(ngModel)]="this.practitioner.name[0].family">
      </div>
      <div class="form-group col-md-6">
        <label for="patientDoB">Phone</label>
        <input type="text" class="form-control" id="drPhone" name="drPhone" placeholder="Phone"
               [(ngModel)]="this.practitionerPhone">
      </div>
      <div class="form-group col-md-6">
        <label for="patientCity">Email</label>
        <input type="text" class="form-control" id="drEmail" name="drEmail" placeholder="Email"
               [(ngModel)]="this.practitionerEmail">
      </div>
      <div class="form-group col-md-12">
        <label for="patientStreet">Street Address</label>
        <input type="text" class="form-control" id="drStreet" name="drStreet" placeholder="Address"
               [(ngModel)]="this.practitioner.address[0].line[0]">
      </div>
      <div class="form-group col-md-6">
        <label for="patientSuburb">Suburb</label>
        <input type="text" class="form-control" id="drSuburb" name="drSuburb" placeholder="Suburb"
               [(ngModel)]="this.practitioner.address[0].district">
      </div>
      <div class="form-group col-md-6">
        <label for="patientCity">Town/City</label>
        <input type="text" class="form-control" id="drCity" name="drCity" placeholder=""
               [(ngModel)]="this.practitioner.address[0].city">
      </div>
      <div class="form-group col-md-6">
        <label for="patientCity">Profession</label>
        <input type="text" class="form-control" id="drProfession" name="drProfession"
               [(ngModel)]="this.practitionerProfession">
      </div>
    </div>

    <div>
      <button class="btn btn-primary" (click)="submitForm()">SUBMIT REPORT</button>
    </div>
    <p></p>
  </form>
</div>

<div *ngIf="this.errorMessage" class="alert alert-danger" role="alert">
  <b>An error occurred:</b> {{this.errorMessage.message}}
</div>

<div *ngIf="this.submissionSuccessful" class="alert alert-success" role="alert">
  <b>Report submitted successfully</b>
</div>
